<style>
    #baniere{
        margin-top: 50px;
        margin-bottom: 25px;
        overflow: hidden;
        background-color: #f1f1f1;
        padding: 20px 10px;
        font-family: Franklin Gothic Medium;
        font-size: 20px;
        border-radius: 10px 100px / 120px;
    }
    .visible {
        display: none;
    }
</style>
<div class="container" id="baniere" style="text-align: center;">
    <div class="row">
        <div *ngIf="tour.tour == 11;" class="col-md-4">
            <span>Fin de partie</span>
            <span *ngIf="tour.actuelJoueur.score > tour.previousJoueur.score; else second">
                    Gagnant : {{ tour.actuelJoueur.nom }}
            </span>
            <ng-template #second>
                <span>Gagnant : {{ tour.previousJoueur.nom }}</span>
            </ng-template>
        </div>
        <div class="col-md-4" *ngIf="tour.tour < 11;">
            <span>Tour : {{ tour.tour }}</span> <br/>
        </div>
        <div class="col-md-4">
            <span>Joueur en cours : <span style="color: red;">{{ tour.actuelJoueur.nom }}</span> -</span>
            <span> Score : <span style="color: red;">{{ tour.actuelJoueur.score }}</span></span>
        </div>
        <div class="col-md-4"> 
            <button class="btn btn-success" style="font-size: 20px;" (click)="callChangeTour()">Changement de Tour</button>
            <button onclick="regle()" style="margin-left: 20px; font-size: 15px; border-radius: 20px;">Règles</button>
        </div>
     </div>
 </div>
