<style>
    .form-container {
        font-family: 'Overpass', sans-serif;
        margin-top: 50%;
    }

    .form-container .form-horizontal {
        background: linear-gradient(to right, #202926 49%, #202926 50%);
        width: 350px;
        height: 350px;
        padding: 75px 55px;
        margin: 0 auto;
        border-radius: 50%;
    }

    .form-container .title {
        color: #838585;
        font-family: 'Teko', sans-serif;
        font-size: 35px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin: 0 0 10px 0;
    }

    .form-horizontal .form-group {
        background-color: rgba(255, 255, 255, 0.15);
        font-size: 0;
        margin: 0 0 15px;
        border: 1px solid #838585;
        border-radius: 3px;
    }

    .form-horizontal .input-icon {
        color: #838585;
        font-size: 16px;
        text-align: center;
        line-height: 48px;
        height: 45px;
        width: 40px;
        vertical-align: top;
        display: inline-block;
    }

    .form-horizontal .form-control {
        color: #838585;
        background-color: transparent;
        font-size: 14px;
        letter-spacing: 1px;
        width: calc(100% - 55px);
        height: 45px;
        padding: 2px 10px 0 0;
        box-shadow: none;
        border: none;
        border-radius: 0;
        display: inline-block;
        transition: all 0.3s;
    }

    .form-horizontal .form-control:focus {
        box-shadow: none;
        border: none;
    }

    .form-horizontal .form-control::placeholder {
        color: #838585;
        font-size: 13px;
        text-transform: capitalize;
    }

    .form-horizontal .btn {
        color: rgba(17, 10, 10, 0.8);
        background: rgba(255, 184, 6);
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        width: 120px;
        height: 120px;
        line-height: 120px;
        margin: 0 0 15px 0;
        border: none;
        border-radius: 50%;
        display: inline-block;
        transform: translateX(30px);
        transition: all 0.3s ease;
    }

    .form-horizontal .btn:hover,
    .form-horizontal .btn:focus {
        color: #838585;
        letter-spacing: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    .form-horizontal .forgot-pass {
        font-size: 12px;
        text-align: left;
        width: calc(100% - 125px);
        display: inline-block;
        vertical-align: top;
    }

    .form-horizontal .forgot-pass a {
        color: #999;
        transition: all 0.3s ease;
    }

    .form-horizontal .forgot-pass a:hover {
        color: #555;
        text-decoration: underline;
    }

    @media only screen and (max-width:379px) {
        .form-container .form-horizontal {
            width: 100%;
        }
    }
    #Joueur1::placeholder, #Joueur2::placeholder {
        color: white;
    }

</style>


<!-- <div>

    <form class="form" #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
        <label for="Joueur1">Nom Joueur 1 :</label>
        <input name="Joueur1" id="Joueur1" class="form-control" value="" ngModel required #first="ngModel">
        <br><br>
        <label for="Joueur2">Nom Joueur 2 :</label>
        <input name="Joueur2" id="Joueur2" class="form-control" value="" ngModel required #second="ngModel">
        <br><br>
        <button type="submit" class="btn-primary">Valider</button>
    </form>

</div> -->

<div class="background-form">
    
    <div class="form-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                    <div class="form-container">
                        <form class="form-horizontal form" #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
                            <h3 class="title" style="color: white;">YAM'S</h3>
                            <div class="form-group">
                                <span class="input-icon" style="color:white;"><i class="fa fa-user"></i></span>
                                <input class="form-control" style="color: white;" placeholder="Joueur 1" name="Joueur1" id="Joueur1" value=""
                                    ngModel required #first="ngModel">
                            </div>
                            <div class="form-group">
                                <span class="input-icon" style="color:white;"><i class="fa fa-user"></i></span>
                                <input class="form-control" style="color: white;" placeholder="Joueur 2" name="Joueur2" id="Joueur2" value=""
                                    ngModel required #second="ngModel">
                            </div>
                            <span class="forgot-pass"><a href="#"></a></span>
                            <button type="submit" class="btn signin">Valider</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>