<div>

    <form class="form"  #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
        <label for="Joueur1">Nom Joueur 1 :</label>
        <input name="Joueur1" id="Joueur1" class="form-control" value="" ngModel required #first="ngModel">
        <br><br>
        <label for="Joueur2">Nom Joueur 2 :</label>
        <input name="Joueur2" id="Joueur2" class="form-control" value="" ngModel required #second="ngModel">
        <br><br>
        <button type="submit" class="btn-primary">Valider</button>
    </form>

</div>