<div class="content" role="main">
    <div *ngIf="!start; then dataComp else gameComp"></div>
    <ng-template #dataComp>
        <app-form-player (sendToJoueur)="receiveDataJoueur($event)"></app-form-player>
    </ng-template>
    <ng-template #gameComp>
        <app-tour [listDice]="listDice" [DataJoueur]="[Joueur1,Joueur2]" (tourEmitter)="receiveTour($event)" (tabScoreEmitter)="receiveTabScore($event)"zd></app-tour> <!-- nomJ1={{nomJ1}} nomJ2={{nomJ2}} -->
        <app-dice (dicesEmitter)="receiveDices($event)"></app-dice>
        <app-tab-score [tabScore]="tabScore"></app-tab-score>
    </ng-template>
</div>
