
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="content" role="main">
    <div *ngIf="!start; then dataComp else gameComp"></div>
    <ng-template #dataComp>
        <app-form-player (sendToJoueur)="receiveDataJoueur($event)"></app-form-player>
    </ng-template>
    <ng-template #gameComp>
        <app-tour [listDice]="listDice" [DataJoueur]="[Joueur1,Joueur2]" (tourEmitter)="receiveTour($event)" (tabScoreEmitter)="receiveTabScore($event)"></app-tour>
        <app-dice (dicesEmitter)="receiveDices($event)"></app-dice>
        <app-tab-score [tabScore]="tabScore"></app-tab-score>
    </ng-template>
</div>

